version: '3.8'
services:
  proxy:
    image: edgd1er/nordlynx-proxy:latest
    restart: unless-stopped
    ports:
      - "1080:1080" #socks proxy port
      - "8888:8888" #http proxy port
    devices:
      - /dev/net/tun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1 # disable ipv6
    privileged: true # required >= 3.17.0
    cap_add:
      - NET_ADMIN               # Required
    environment:
      - TZ=America/Chicago
      - #- NORDVPN_VERSION=3.16.9 #install required version of nordvpn's client. Downgrade allowed.
      - GROUP=P2P #default P2P, Africa_The_Middle_East_And_India, Asia_Pacific, Europe, Onion_Over_VPN, P2P, Standard_VPN_Servers, The_Americas
      - ANALYTICS=off # or on, sending anonymous aggregate data: crash reports, OS version, marketing performance, and feature usage data
        #- CONNECT= #Optionnal, override COUNTRY, specify country+serveur number like uk715
      - COUNTRY=de # optional, default argentina.
        #- KILLERSWITCH=on #Optional, on by default, kill Switch is a feature helping you prevent unprotected access to the internet when your traffic doesn't go through a NordVPN server.
        #- CYBER_SEC=off #CyberSec is a feature protecting you from ads, unsafe connections, and malicious sites
      - TECHNOLOGY=NordLynx #openvpn or nordlynx (default)
      - OBFUSCATE=off # or on, obfuscate only available when using openvpn(tcp or udp), hide use of vpn.
        #- IPV6=off #optional, off by default, on/off available, off disable IPV6 in nordvpn app
        #- NORDVPN_LOGIN=<email> #Not required if using secrets
        #- NORDVPN_PASS=<pass> #Not required if using secrets
        #- DEBUG=0 #(0/1) activate debug mode for scripts, dante, tinproxy
        #- LOCAL_NETWORK=192.168.0.0/24 #LAN to route through proxies and vpn.
        #- TINYUSER: optional, enforces authentication over tinyproxy when set with TINYPASS.
        #- TINYPASS: optional, enforces authentication over tinyproxy when set with TINYUSER.
        #- TINYLOGLEVEL=error #Optional, default error: Critical (least verbose), Error, Warning, Notice, Connect (to log connections without Info's noise), Info
        #- TINYPORT=8888 #define tinyport inside the container, optional, 8888 by default,
        #- DANTE_LOGLEVEL="error" #Optional, error by default, available values: connect disconnect error data
      - DANTE_ERRORLOG=/dev/stdout #Optional, /dev/null by default
      #- DANTE_DEBUG=0 # Optional, 0-9
    secrets:
      - NORDVPN_CREDS
      - TINY_CREDS

secrets:
  NORDVPN_CREDS:
    file: ./nordvpn_creds
  TINYCREDS:
    file: ./tiny_creds