name: build multi-arch images template

# inputs.xxx is received variable value
# env.XXX is computed value

on:
  workflow_call:
    inputs:
      image:
        type: string
        default: nordlynx-proxy
        description: "image name"
      tag:
        type: string
        default: latest
        description: "tag"
      push:
        type: boolean
        default: false
        description: "push to registry"
      ptf:
        type: string
        # no dante-server on ubuntu 24.04 for armhf
        default: "linux/amd64, linux/arm64, linux/arm/v7"
        description: "platforms linux/xx"
      base_image:
        type: string
        default: debian:bookworm-slim # ubuntu:24.04
        description: "Base image debian/ubuntu"
      wg:
        type: boolean
        default: false # true
        description: "Wireguard client included"


jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: set push value, os
        run: |
          if [[ "true" == "${{ inputs.push }}" ]]; then 
            echo "LOAD=false">> $GITHUB_ENV
            echo "PTF=${{ inputs.ptf }}">> $GITHUB_ENV
          else 
            echo "LOAD=true">> $GITHUB_ENV
            echo "PTF=linux/amd64">> $GITHUB_ENV
          fi
          echo "PUSH=$PUSH" >> $GITHUB_ENV
          
          IMAGE="${{ inputs.image }}"
          if [[ "${{ inputs.wg }}" == "true" ]]; then
            IMAGE="${{ inputs.image }}-wg"
          fi
          echo "IMAGE=$IMAGE">> $GITHUB_ENV
      - name: set tagos ubuntu
        if: contains(inputs.base_image,'ubuntu')
        run: |
          echo "tagos=ubuntu">> $GITHUB_ENV
      - name: set tagos debian
        if: contains(inputs.base_image,'debian')
        run: |
          echo "tagos=debian">> $GITHUB_ENV

      - name: checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: get nordvpn's client version
        run: |
          grep -oP "(?<=changelog\): )[^ ]+" README.md | tr -d ' '
          echo "VERSION="$(grep -oP "(?<=changelog\): )[^ ]+" README.md | tr -d ' ') >> $GITHUB_ENV
          echo "DATE="$(date -u +'%Y-%m-%dT%H:%M:%SZ') >> $GITHUB_ENV
          cat $GITHUB_ENV

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          use: true
      - name: Builder instance name
        run: echo ${{ steps.buildx.outputs.name }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: "show vars"
        run: |
          echo "base_image=${{ inputs.base_image }}, VERSION=${{ env.VERSION }}, TWCV=${{ inputs.twcv }}, TICV=${{ inputs.ticv }}"
          echo "IMAGE=${{ env.IMAGE }}, TAG=${{ inputs.tag }}, tagos=${{ env.tagos }}, PUSH=${{ inputs.push }}, LOAD=${{ env.LOAD }}, PTF=${{ env.PTF }}"

    # type=schedule, semver, pep440, match, edge, ref, raw, sha
    # type=raw,enable=true,priority=200,prefix=,suffix=,value=
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_USER }}/${{ env.IMAGE }}
          labels: |
            org.opencontainers.image.created={{commit_date 'YYYY-MM-DDTHH:mm:ss.SSS[Z]'}}
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=,value=${{ env.VERSION }}-${{ env.tagos }}        
            type=raw,enable=true,priority=200,prefix=,suffix=,value=latest-${{ env.tagos }}        
            type=raw,enable=${{ contains(inputs.base_image,'debian') }},priority=200,prefix=,suffix=,value=${{ inputs.TAG }}
      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          build-args: |
            base=${{ inputs.base_image }}
            VERSION=${{ env.VERSION }}
            BUILD_DATE=${{ env.DATE }}
            WG=${{ inputs.wg }}
            TZ=America/Chicago
          platforms: ${{ env.PTF }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ inputs.push }}
          load: ${{ env.LOAD }}
          #outputs: |
          #  type=image,name=${{ secrets.DOCKER_USER }}/${{ inputs.image }},push-by-digest=true,name-canonical=true,push=${{ inputs.push }},load=${{ inputs.push == 'false' }}
