name: debian based multi-arch images w/o wireguard-tools

env:
  IMAGE: nordlynx-proxy
  TAG: latest
  PUSH: false
  BASE_IMAGE: debian:13-slim
  WG: false # true
  PTF: "linux/amd64,linux/arm64,linux/arm/v7"
  # no dante-server on ubuntu 24.04 for armhf

on:
  workflow_dispatch:
    inputs:
      mypush:
        type: boolean
        default: false
        description: "push true/false"
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '.github/**'
      - 'README.md'

jobs:
    envtooutput:
      runs-on: ubuntu-latest
      outputs:
        image: ${{ env.IMAGE }}
        tag: ${{ env.TAG }}
        ptf: ${{ env.PTF }}
        base_image: ${{ env.BASE_IMAGE }}
        push: "${{ inputs.mypush }}"
        wg: "${{ env.WG }}"
      steps:
        - name: dummy task to get outputs.
          run: |
            ls -al
            export

    build-debian-nowg:
      needs: envtooutput
      uses: ./.github/workflows/buildPush_template.yml
      with:
        image: "${{ needs.envtooutput.outputs.image }}"
        tag: "${{ needs.envtooutput.outputs.tag }}"
        ptf: "${{ needs.envtooutput.outputs.ptf }}"
        base_image: "${{ needs.envtooutput.outputs.base_image }}"
        #push: false
        push: ${{ needs.envtooutput.outputs.push == 'true' }}
        wg: false
      secrets: inherit

    build-debian-wg:
      needs: envtooutput
      uses: ./.github/workflows/buildPush_template.yml
      with:
        image: "${{ needs.envtooutput.outputs.image }}"
        tag: "${{ needs.envtooutput.outputs.tag }}"
        ptf: "${{ needs.envtooutput.outputs.ptf }}"
        base_image: "${{ needs.envtooutput.outputs.base_image }}"
        #push: false
        push: ${{ needs.envtooutput.outputs.push == 'true' }}
        wg: true
      secrets: inherit